@model Tienda.Models.tipo_usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Tipo Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_TIO_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_TIO_USUARIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_TIPO_USUARIO }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
